/* style for all the main text*/
.text-center{
text-align: center;
background-color: gray;
color:white;
font-family: 'Times New Roman', Times, serif;
font-size:24px;
height: 100px;
width: 1200px;
border: solid black 24px;
border-radius: 40px;
margin:50px;
}
/* Style for the page breaks between the words.*/
hr{
 height: 24px;
 width: 24px;
 background-color:gray;
 color:gray;
 
}

.wrapper{
width:400px;
margin:auto
}

.btn{
display: inline;
font-family: 'Times New Roman', Times, serif;
font-size: 15px;
text-align: center;
text-decoration: none;
margin:20px;
padding: 10px 14px;
border-radius: 8px;
}
/* style for the github button*/
.btn-git{
background-color: red;
color:white;
border: 5px solid red;
position: relative;
}

.btn-git:hover{
    background-color: blue;
    border-radius: 15px;
}

.btn-git:active{
    top: 5px;
}
/* Style for the linkedin button*/
.btn-linked{
background-color: red;
color: white;
border:5px solid red;
position: relative;
}
/* When the user hovers over the button it will turn blue */
.btn-linked:hover{
    background-color: blue;
    border-radius: 15px;
}
/* When the user click the link it goes down 5px*/
.btn-linked:active{
    top: 5px;
}
/* putting some styles to my image*/
img{
    border-radius: 15px;
    Height: 400px;
    width: 700px;
    
}
